<!-- top nav bar  -->
<nav class="fixed-top navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello Rohit!</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex" role="search">
        <!-- Button trigger modal -->
        <button
          [routerLink]="['add-vehicle']"
          type="button"
          class="btn btn-primary mx-2"
        >
          <i class="fa fa-plus-circle"></i> Add
        </button>

        <button
          [routerLink]="['registered-vehicle']"
          type="button"
          class="btn btn-primary mx-2"
        >
          <i class="fa fa-car"></i> Registered
        </button>

        <button [routerLink]="['']" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout</button>
      </form>
    </div>
  </div>
</nav>
