<div class="login d-flex align-items-center justify-content-center min-vh-100">
    <div class="box position-relative overflow-hidden rounded-3">
        <form autocomplete="off" class="position-absolute rounded-3">
            <h2 class="text-center">Login</h2>
            <div class="inputBox position-relative">
                <input class="position-relative  w-100 border-0 bg-transparent" type="text" required>
                <span class="position-absolute start-0">Username</span>
                <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
            </div>
            <div class="inputBox position-relative">
                <input class="position-relative  w-100 border-0 bg-transparent" type="password" required>
                <span class="position-absolute start-0">Password</span>
                <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
            </div>
            <div class="links d-flex justify-content-between">
                <a href="#" class="text-white">Forgot Password ?</a>
                <a routerLink="/signup">Sign up</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</div>