<!-- table  -->
<div class="container mt-5 pt-5">
  <h1>View Vehicle Details</h1>
  <p class="fst-italic">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur
    mollitia libero quae praesentium quos consectetur minima, veniam porro modi
    totam culpa dolores similique tempore iure. Est excepturi dolore nihil!
  </p>
</div>

<!-- loading  -->
<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<!-- Error msg  -->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="fw-bold text-danger">{{ errorMessage }}</h4>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && isNotEmpty()" class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body list-group-item-danger shadow-lg">
          <div class="row align-items-center justify-content-center">
            <div class="col-sm-3">
              <img loading="lazy" [src]="vehicle.photo" class="view-image" />
            </div>
            <div class="col-sm-9">
              <ul class="list-group">
                <li class="list-group-item">
                  Office: <span class="fw-bold">{{ vehicle.office }}</span>
                </li>
                <li class="list-group-item">
                  Number: <span class="fw-bold">{{ vehicle.number }}</span>
                </li>
                <li class="list-group-item">
                  City: <span class="fw-bold">{{ vehicle.city }}</span>
                </li>
                <li class="list-group-item">
                  State: <span class="fw-bold">{{ vehicle.state }}</span>
                </li>
                <li class="list-group-item">
                  Phone: <span class="fw-bold">{{ vehicle.phone }}</span>
                </li>
                <li class="list-group-item">
                  Email: <span class="fw-bold">{{ vehicle.email }}</span>
                </li>
                <li class="list-group-item">
                  Address: <span class="fw-bold">{{ vehicle.address }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a
              routerLink="/dashboard/registered-vehicle"
              class="btn btn-dark px-4"
              ><i class="fa fa-arrow-alt-circle-left"></i> Back</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
