<div class="signup ">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="box position-relative overflow-hidden rounded-3">
            <form [formGroup]="signupForm" autocomplete="off" class="position-absolute rounded-3" (ngSubmit)="signUp()">
                <h2 class="text-center ">New Registration</h2>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input formControlName="firstName" class="position-relative  w-100 border-0 bg-transparent"
                                type="text" name="firstName" required>
                            <span class="position-absolute start-0">First Name</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="firstName && firstName.invalid && firstName.touched" class="text-danger"
                            style="font-size: 10px;">
                            Please choose a first name.
                        </span>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input formControlName="lastName" class="position-relative  w-100 border-0 bg-transparent"
                                type="text" name="lastName" required>
                            <span class="position-absolute start-0">Last Name</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="lastName && lastName.invalid && lastName.touched" class="text-danger"
                            style="font-size: 10px;">
                            Please choose a last name.
                        </span>
                    </div>

                    <div class="col-12">
                        <div class="inputBox position-relative">
                            <input formControlName="userName" class="position-relative  w-100 border-0 bg-transparent"
                                type="text" name="userName" required>
                            <span class="position-absolute start-0">Username</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="userName && userName.invalid && userName.touched" class="text-danger"
                            style="font-size: 10px;">
                            Please choose a user name.
                        </span>
                    </div>

                    <div class="col-12">
                        <div class="inputBox position-relative">
                            <input formControlName="email" class="position-relative  w-100 border-0 bg-transparent"
                                type="email" name="email" required>
                            <span class="position-absolute start-0">Email Id</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="email && email.invalid && email.touched" class="text-danger"
                            style="font-size: 10px;">
                            Please choose an email.
                        </span>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input formControlName="password" class="position-relative  w-100 border-0 bg-transparent"
                                type="password" name="password" required>
                            <span class="position-absolute start-0">Password</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="password && password.invalid && password.touched" class="text-danger"
                            style="font-size: 10px;">
                            Please choose a password.
                        </span>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input formControlName="confirmPassword"
                                class="position-relative  w-100 border-0 bg-transparent" type="password"
                                name="confirmPassword" required>
                            <span class="position-absolute start-0">Confirm Password</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                        <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched"
                            class="text-danger" style="font-size: 10px;">
                            Please choose a confirm password.
                        </span>
                    </div>

                </div>


                <div class="links d-flex justify-content-between">
                    <a href="#"></a>
                    <a routerLink="/"><span class="text-white">Already have an account ? </span>Log in</a>
                </div>
                <button [disabled]="signupForm.invalid" type="submit">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</div>