<div class="signup ">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="box position-relative overflow-hidden rounded-3">
            <form #signupData="ngForm" autocomplete="off" class="position-absolute rounded-3">
                <h2 class="text-center ">New Registration</h2>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="text" name="firstName"
                                required ngModel>
                            <span class="position-absolute start-0">First Name</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="text" name="lastName"
                                required ngModel>
                            <span class="position-absolute start-0">Last Name</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="text" name="userName"
                                required ngModel>
                            <span class="position-absolute start-0">Username</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="email" name="email"
                                required ngModel>
                            <span class="position-absolute start-0">Email Id</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="password"
                                name="password" required ngModel>
                            <span class="position-absolute start-0">Password</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="inputBox position-relative">
                            <input class="position-relative  w-100 border-0 bg-transparent" type="password"
                                name="confirmPassword" required ngModel>
                            <span class="position-absolute start-0">Confirm Password</span>
                            <i class="position-absolute start-0 bottom-0 w-100 overflow-hidden"></i>
                        </div>
                    </div>
                </div>


                <div class="links d-flex justify-content-between">
                    <a href="#"></a>
                    <a routerLink="/"><span class="text-white">Already have an account ? </span>Log in</a>
                </div>
                <input (click)="signupFormData(signupData.value)" type="button" value="Sign Up">
            </form>
        </div>
    </div>
</div>